importFrom("aods3", "AIC.aodml", "anova.aodml", "aodml")
importFrom("Biobase", "exprs", "exprs<-")
importFrom("DESeq2", 
            "counts", 
            "DESeqDataSetFromMatrix", 
            "estimateSizeFactors", 
            "sizeFactors",
            "sizeFactors<-")
importFrom("DSS", "dispersion", "estDispersion", "newSeqCountSet")
import("ggplot2")
importFrom("gplots", "heatmap.2")
importFrom("graphics", "par")
importFrom("grDevices", "adjustcolor", "dev.off", "palette", "png")
importFrom("matrixStats", "rowVars")
importFrom("stats",
            "anova",
            "as.dist", 
            "complete.cases", 
            "cor", 
            "p.adjust",
            "prcomp",
            "reshape")
importFrom("utils", "tail", "write.table")
importFrom("foreach", "foreach", "%dopar%")
importFrom("doParallel", "registerDoParallel")
importFrom("parallel", "detectCores")
importFrom("ade4","dudi.pca")
import("shiny")
import("factoextra")
import("shinycssloaders")
import("DT")

export(diffExpressedVariants,
        kissplice2counts,
        qualityControl,
        writeOutputKissDE,
       kissDE,
       exploreResults)

S3method("print", "countsData")
S3method("print", "pval")
