importFrom("aod", "AIC", "anova", "deviance", "negbin")
importFrom("Biobase", "exprs", "exprs<-")
importFrom("DESeq2", "counts", "DESeqDataSetFromMatrix", "estimateSizeFactors", "sizeFactors")
importFrom("DSS", "dispersion", "estDispersion", "newSeqCountSet")
importFrom("glmnet", "glmnet")
importFrom("grDevices", "dev.off", "png")
importFrom("graphics", "abline", "legend", "lines", "par", "plot")
importFrom("stats", "aggregate", "as.dist", "coef", "cor", "hclust", "heatmap", "lm", "model.matrix", "nls", "p.adjust", "pchisq", "var")

export(diffExpressedVariants, kissplice2counts, qualityControl, wantedEvents)
S3method("print", "countsData")
